
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1.title{
  color: black;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  margin-top: 30px;
  padding-top: 30px;
}
p {
	width:100px;
	height:30px;
	border: 1px solid black;
	
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  text-align: center;
  position:relative;

}
#p1 {
	background-color: #ffa496;
	float:right;
	margin: -1px;
}
#p2 {
	background-color: #a34a3c;
	color: white;
	float:right;
	margin: -1px;

}
#p3 {
	background-color: #edcba4;
	float:right;
	margin: -1px;
}
#content {
	  font-family: Comic Sans MS, Comic Sans, cursive;
	  	padding: 40px 10px 10px 10px;

}

/*  desktop above 992px
	col-lg-3 
	tablet between 768 and 991
	col-md-6 col-md-12
	Mobile lessthan 767
*/
.row{
	width: 100%;
}
@media(min-width: 992px){

	.col-lg-4 {
			width: 30%;
			float: left;
	}


}

@media(min-width: 768px) and (max-width: 991px)
{		
	.col-md-6 {
			width: 47%;
			float: left;
	}
	.col-md-12 {
		width: 97%;
	}

}
@media(max-width: 767){

}


section {
	clear:left;
}


#box {
	background-color: #C0C0C0;
	border: 1px solid black;
	overflow: auto;
	margin-top: 30px;
	/*width:300px;
	/*height:100px;*/
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;


}
#content {
	  font-family: Comic Sans MS, Comic Sans, cursive;
	  	padding: 40px 10px 10px 10px;

}
body {
	
}


